*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,1);
}
.logoh1{
    color: darkgreen;
}
.div.text{
    background-color: azure;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-right: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    height: 100vh;
    background-color: #5ba36c;

}

.textcontent {
    flex: 1;
    max-width: 50%;
}

.textcontent h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.textcontent p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.imagecontent {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagecontent img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .aboutus {
        flex-direction: column;
        text-align: center;
    }

    .textcontent {
        max-width: 100%;
    }

    .imagecontent {
        margin-top: 20px;
    }
}






.services {
    text-align: center;
    padding: 50px;
    background-color: white;
    height: 80vh;
}

.services h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.services p {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.servicescontainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.servicebox {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.servicebox img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.servicebox h2 {
    font-size: 1.5rem;
    color: #333;
}

.servicebox:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
    .servicescontainer {
        flex-direction: column;
        gap: 30px;
    }

    .services {
      
        height: auto;
    }
}





















.brandssection {
    text-align: center;
    padding: 50px;
    background-color: #e9edf5;
    height: 100vh;
    
}

.brandssection h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 180px;
}

.brandssection p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.brandscontainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.brand {
    flex: 1;
    padding: 20px;
}

.brand img {
    width: 100%;
    max-width: 150px;
}



@media screen and (max-width: 1000px) {
    .brandscontainer {
        flex-direction: column;
        align-items: center;
        
    }
    .brandssection {
        height: auto;

        
    }

    .brand {
        margin-bottom: 20px;

    }

}




.footersection {
    background-color: #212934;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    height: 100vh;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 2px solid #444;
    margin-top: 130px;
}

.footercolumn {
    flex: 1;
    margin: 0 40px;
    min-width: 200px;
}

.footercolumn h3 {
    margin-bottom: 20px;
}
.footercolumn p {
    margin-bottom: 10px;
}


.footercolumn ul {
    list-style: none;
}

.footercolumn ul li {
    margin-bottom: 10px;
    color: #ccc;
}

.footersubscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 90px;
}
.emailsection {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
   
}



.emailsection input {
    padding: 10px;
    margin-right: 10px;
    /* flex: 1; */
    border: 3px;
    border-radius: 3px;
}

.emailsection button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
}


.footerbottom {
    text-align: center;
    margin-top: 90px;
    color: #ccc;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .footercontent {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footersubscription {
        flex-direction: column;
    }

    .emailsection {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .emailsection input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .socialicons {
        justify-content: center;
    }
}