*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,1);
}
.logoh1{
    color: darkgreen;
}
.div.text{
    background-color: azure;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-right: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    background-color: beige;


}
.div.hero.photo{
    background-color: none;


}
h2{
    color: darkgreen;
}
.text{
    width: 47%;
    height: auto;

}
.cart{
    margin-left: 650px;
}
.cart span{
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    color:rgb(144, 220, 255);
}
.contact{
    text-align: center;
    padding: 52px;
}
.contact h2{
    font-size: 35px;
    font-weight: 800;
    color:rgb(0, 0, 0);
}
.contact p{
    color:royalblue;
    margin: 23px 0;
}
.map{
    height: 310px;
    width: 100%;
    background-color: beige;
    margin-top: 55px;
    position: relative;
}
.map :before{
    position: absolute;
    top: 55%;
    left: 55%;
    width: 25px;
    height: 25px;
    background-color: chocolate;
    border-radius: 45%;
    transform: translate(-45%, -45%);
}

.container{
    background-color: cornsilk;
    padding: 20px;
    box-shadow: 1 1 8px rgba(1,1,1 ,1);
}
.col{
    display: flex;
    flex-direction:row;
    text-align: center;
}



.form99 {
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.for99{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.for99 input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

.btns button {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    .form99{
        width: 80%;
    }

    .for99 {
        flex-direction: column;
    }

    .for99 input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .form99 {
        width: 100%;
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}


.footersection {
    background-color: #212934;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    height: 100vh;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 2px solid #444;
    margin-top: 130px;
}

.footercolumn {
    flex: 1;
    margin: 0 40px;
    min-width: 200px;
}

.footercolumn h3 {
    margin-bottom: 20px;
}
.footercolumn p {
    margin-bottom: 10px;
}


.footercolumn ul {
    list-style: none;
}

.footercolumn ul li {
    margin-bottom: 10px;
    color: #ccc;
}

.footersubscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 90px;
}
.emailsection88 {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
   
}



.emailsection88 input {
    padding: 10px;
    margin-right: 10px;
    /* flex: 1; */
    border: 3px;
    border-radius: 3px;
}

.emailsection88 button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
}


.footerbottom {
    text-align: center;
    margin-top: 90px;
    color: #ccc;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .footercontent {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footersubscription {
        flex-direction: column;
    }

    .emailsection {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .emailsection input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .socialicons {
        justify-content: center;
    }
}