*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,1);
}
.logoh1{
    color: darkgreen;
}
.div.text{
    background-color: azure;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-right: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
}

.leftcolumn {
    margin-top: 70px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.rightcolumn {
 
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
}

.categories {
    font-size: 25px;
    color: #333;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
}

.categories h3 {
    margin-bottom: 10px;
}

.categories ul {
    list-style: none;
}

.categories li {
    margin-bottom: 10px;
    font-size: 16px;
}

.card {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.cardimage {
    width: 100%;
    height: auto;
}

.cardimage img {
    width: 100%;
    height: auto;
}

.cardcontent {
    padding: 15px;
    text-align: center;
}

.producttitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}



@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
  }
}















.footersection {
    background-color: #212934;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    height: 100vh;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 2px solid #444;
    margin-top: 130px;
}

.footercolumn {
    flex: 1;
    margin: 0 40px;
    min-width: 200px;
}

.footercolumn h3 {
    margin-bottom: 20px;
}
.footercolumn p {
    margin-bottom: 10px;
}


.footercolumn ul {
    list-style: none;
}

.footercolumn ul li {
    margin-bottom: 10px;
    color: #ccc;
}

.footersubscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 90px;
}

.emailsection {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
   
}



.emailsection input {
    padding: 10px;
    margin-right: 10px;
    /* flex: 1; */
    border: 3px;
    border-radius: 3px;
}

.emailsection button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
}

/* .social-icons {
    flex: 1;
    display: flex;
    justify-content: space-around;
} */

/* .social-icons .icon { */
    /* padding: 10px; */
    /* background-color: #444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* cursor: pointer;
    color: #fff; */
/* } */

.footerbottom {
    text-align: center;
    margin-top: 90px;
    color: #ccc;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .footercontent {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footersubscription {
        flex-direction: column;
    }

    .emailsection {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .emailsection input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .socialicons {
        justify-content: center;
    }
}