*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,1);
}
.logoh1{
    color: darkgreen;
}
.div.text{
    background-color: azure;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-right: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    background-color: beige;


}
.div.hero.photo{
    background-color: none;


}
h2{
    color: darkgreen;
}
.text{
    width: 47%;
    height: auto;

}
.container{
    align-items: center;
    text-align: center;
    padding: 80px;
}
.alok1{
    display: flex;
    align-items: center;
    text-align: center;
}

.alok img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.alok button{
    width: 35%;
    height: 55px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: darkgreen;


}
.container1{
    padding: 60px;
    text-align: center;
}
.alok2{
    display: flex;

}
.img3 img {
    height: 70%;
    width: 70%;
    padding-block-end: 10px;
    margin-left: 50px;
}
.img3 p{
    margin-left: 50px;
    padding-block-end: 10px;
}
.img3 h1{
    margin-left: 50px;
    padding-block-end: 10px;
}


.text p{
    font-size: 1.2rem;
}
.container3{
    display: block;
    width: 100px;
    background-color: blueviolet;
    margin-top: 80px;
}
.end i{
    flex-direction: column;
    justify-content: space-around;
    margin-left: 6px;
}
.emailaddress{
    display: flex;
    flex-direction: row;
}

@media(max-width:720px) {
    .alok1{
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
}





.footersection {
    background-color: #212934;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    height: 100vh;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 2px solid #444;
    margin-top: 130px;
}

.footercolumn {
    flex: 1;
    margin: 0 40px;
    min-width: 200px;
}

.footercolumn h3 {
    margin-bottom: 20px;
}
.footercolumn p {
    margin-bottom: 10px;
}


.footercolumn ul {
    list-style: none;
}

.footercolumn ul li {
    margin-bottom: 10px;
    color: #ccc;
}

.footersubscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 90px;
}
.emailsection {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
   
}



.emailsection input {
    padding: 10px;
    margin-right: 10px;
    /* flex: 1; */
    border: 3px;
    border-radius: 3px;
}

.emailsection button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
}


.footerbottom {
    text-align: center;
    margin-top: 90px;
    color: #ccc;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .footercontent {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footersubscription {
        flex-direction: column;
    }

    .emailsection {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .emailsection input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .socialicons {
        justify-content: center;
    }
}